%section{:class => "content container"}
  %section{:id => "content", :class => "box container_12"}
    %section{:class => "alpha grid_9"}
      %h1 Shop from Multiply Sellers Like:
      = image_tag("borderContent.png", :class => "imgborder")
      %ul{:class => "items"}
        - @products[0..11].each_with_index do |product, index|
          %li{:class => ((index.modulo(3) == 0)? "alpha " : (index.modulo(3) == 2 || index == @products.size - 1)? "omega " : "") + "grid_3"}
            .placeholder
              = link_to(image_tag(product.image_url, :alt => product.name, :title => "Buy #{product.name}", :width => "193px", :height => "113px"), product_url(product.permalink), :target => "_blank", :rel => "external")
            =link_to(product.name, product_url(product.permalink), :target => "_blank", :rel => "external")
            %br
            %span Buy it from
            =link_to(product.seller, "http://#{product.seller.delete(" ").downcase}.multiply.com", :target => "_blank", :rel => "external")
      %ul{:class => "items", :id => "other_items", :style => "display:none;"}
        - begin
          - @products[12..-1].each_with_index do |product, index|
            %li{:class => ((index.modulo(3) == 0)? "alpha " : (index.modulo(3) == 2 || index == @products.size - 1)? "omega " : "") + "grid_3"}
              .placeholder
                = link_to(image_tag(product.image_url, :alt => product.name, :title => "Buy #{product.name}", :width => "193px", :height => "113px"), product_url(product.permalink), :target => "_blank", :rel => "external")
              =link_to(product.name, product_url(product.permalink), :target => "_blank", :rel => "external")
              %br
              %span Buy it from
              =link_to(product.seller, "http://#{product.seller.delete(" ").downcase}.multiply.com", :target => "_blank", :rel => "external")
        - rescue
      %span{:class => "imgborder"}
      =link_to("View More items from Multiply Trusted Sellers", "javascript:void(0)", :class => "viewmore btn")
      %br
      %br
      =link_to("Shop at Multiply Marketplace", "http://multiply.com/marketplace?utm_source=semmicrosite%2B&utm_medium=link%2B&utm_campaign=semmicrosite%2B", :class => "shop btn", :rel => "external", :target => "_blank")
    =render "layouts/right_pane"